<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="bootstrap-custom/css/custom-boostrap.css"/>
		<link rel="stylesheet" type="text/css" href="bootstrap-custom/css/blog.css"/>
	</head>
	<body>
		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">响应式导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand">我的小屋</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li role="presentation" class="active"><a href="index.html">首页</a></li>
						<li role="presentation"><a href="contact.html">联系</a></li>
						<li role="presentation"><a href="about.html">关于我</a></li>
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="请输入文章标题或者作者名称">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
				</nav>
			</div>
		</header>
		<div class="container" id="body">
			<h1>关于我</h1>
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-md-3 col-sm-3">
					<img src="http://placekitten.com/300/350" class="img-thumbnail img-responsive">
				</div>
				<div class="col-md-9 col-sm-9">
					<p>
						任贤齐，1966年6月23日出生于台湾省彰化县，祖籍湖北省武汉市江夏区，中国台湾流行乐男歌手、演员、赛车手、导演 。
					</p>
					<p>
						1990年发行音乐合辑《奔向彩虹》，以歌手身份正式出道。1991年首次出演电影《官兵捉强盗》，进入影视圈。1997年因演唱歌曲《心太软》获得广泛关注 [3]  ，并凭借该歌曲荣获香港电台十大劲爆国语金曲铜奖、香港新城精选104电台国语金奖等奖项 [4]  。1998年发行专辑《爱像太平洋》，专辑中的歌曲《对面的女孩看过来》获得HITFM台北之音音乐网100单曲票选活动的第一名，该歌曲也成为了他在歌唱事业上的代表作品；同年出演古装剧《神雕侠侣》饰演杨过。
					</p>
					<p>
						1999年主演的电影《星愿》上映；同年参加马来西亚越野摩托车比赛中夺得季军 [5]  。2000年发行专辑《为爱走天涯》 [6]  。2001年获得亚洲越野摩托车拉力赛冠军 [7]  。2005年主演的动作片《韩城攻略》在中国和韩国同期上映。2010年凭借电影《火龙对决》获得富川电影节最佳男主角。
					</p>
					<p>
						2013年出演剧情片《下午茶》，该片入围第63届柏林电影节“电影大观”单元 [8]  。2014年执导的纪录片《妈祖迺台湾》在台湾上映，该片打破台湾纪录片上映戏院数量 [1]  ；同年导演并主演爱情喜剧电影《落跑吧爱情》 [2]  。2016年出演警匪片《树大招风》 [9]  ；同年再次回归小荧幕，出演饮食类电视剧《深夜食堂》 [10]  。2019年主演犯罪动作电影《沉默的证人》。
					</p>
				</div>
			</div>
			<div class="row text-center photo">
				<img  src="http://placekitten.com/200/200" >
				<img  src="http://placekitten.com/200/200" >
			</div>
			<p class="lead text-center">以下是我的视频课资源</p>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="#">
							<img src="http://placekitten.com/300/450" class="img-responsive">
						</a>
						<div class="caption text-center">
							<h4>Python基础</h4>
							<p>课程简介</p>
							<button type="button" class="btn btn-primary">立即购买</button>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="#">
							<img src="http://placekitten.com/300/450" class="img-responsive">
						</a>
						<div class="caption text-center">
							<h4>Django实战开发</h4>
							<p>课程简介</p>
							<button type="button" class="btn btn-primary">立即购买</button>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="#">
							<img src="http://placekitten.com/300/450" class="img-responsive">
						</a>
						<div class="caption text-center">
							<h4>Flask实战开发</h4>
							<p>课程简介</p>
							<button type="button" class="btn btn-primary">立即购买</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<hr>
				<p class="text-center">Copyright &copy; Powered by Bruce</p>
			</div>
		</footer>
	</body>
	<script src="bootstrap-custom/js/jquery-3.5.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="bootstrap-custom/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</html>
