<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="bootstrap-custom/css/custom-boostrap.css"/>
		<link rel="stylesheet" type="text/css" href="bootstrap-custom/css/blog.css"/>
	</head>
	<body>
		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">响应式导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand">我的小屋</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li role="presentation" class="active"><a href="index.html">首页</a></li>
						<li role="presentation"><a href="contact.html">联系</a></li>
						<li role="presentation"><a href="about.html">关于我</a></li>
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="请输入文章标题或者作者名称">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
				</nav>
			</div>
		</header>
		<div class="container" id="body">
			<h1>联系我</h1>
			<div class="well">
				有问题联系我呀
			</div>
			<form>
				<div class="form-group">
					<label for="username">用户名字</label>
					<input type="text" class="form-control" id="username" placeholder="名字">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1"> 邮箱</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱">
				</div>
				<div class="form-group">
					<label for="subject">主题</label>
					<input type="text" class="form-control" id="subject" placeholder="主题">
				</div>
				<div class="form-group">
					<label for="message">消息内容</label>
				  <textarea class="form-control" id="message" placeholder="评论内容..."></textarea>
				</div>
				<div class="form-group text-right">
					<button type="submit" class="btn btn-primary btn-lg">提交你的消息</button>
				</div>
			</form>
		</div>
		<footer>
			<div class="container">
				<hr>
				<p class="text-center">Copyright &copy; Powered by Bruce</p>
			</div>
		</footer>
	</body>
	<script src="bootstrap-custom/js/jquery-3.5.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="bootstrap-custom/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</html>
